@model StajProjesi.Areas.Admin.ViewModels.BaslıkEdit
<link href="~/Content/Create.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="simple-login-container">
        <h2>YENİ BAŞLIK</h2>
        <div class="col-md-12 form-group">

            @Html.TextBoxFor(x => x.BaslıkAdı, new { @class = "form-control", @placeholder = "Konu" })
            @Html.ValidationMessageFor(X => X.BaslıkAdı, "", new { @class = "text-danger" })
        </div>
        <div class=" col-md-12 form-group">
            <select class="form-control" id="sec" name="FirmaId">
                @{
                    <option selected>Başlık Seçiniz</option>
                    foreach (var firma in Model.Firmalar)
                    {
                        <option value="@firma.FirmaId">@firma.FirmaAdı</option>
                    }
                }
            </select>


        </div>
        <div class="col-md-12 form-group">
            <input type="submit" value="DEĞİŞTİR" class="btn btn-success" id="tb" />
            <a href="@Url.Action("Index")" role="button" class="btn btn-outline-primary">GERİ</a>
        </div>
    </div>

}
<script>

        function GetSelected() {
            var selectedValue = $("select[name='FirmaId']")[0];
            $.ajax({
                data: { "selectedValue": selectedValue  },
                url: '@Url.Action("New")',
                type: "POST",
                success: function (returndata) {

                }
            });
        }

</script>